SECRET_KEY=сгенерируйте_случайный_ключ
DEBUG=False
ALLOWED_HOSTS=ваш_ip,localhost
DB_NAME=lms_db
DB_USER=postgres
DB_PASSWORD=сильный_пароль
DB_HOST=db
DB_PORT=5432
REDIS_URL=redis://redis:6379/0
STRIPE_SECRET_KEY=sk_test_...
STRIPE_PUBLISHABLE_KEY=pk_test_...